<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/css/starter-template.css" rel="stylesheet">

    <!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">

    <title>ADMIN PANEL</title>

</head>

<body>
<div class="w3-sidebar w3-bar-block" id="sdbr">
    <br>
    <br>
    <a href="http://localhost:8080/admin" class="w3-bar-item w3-button">Admin</a>
    <a href="http://localhost:8080/user" class="w3-bar-item w3-button">User</a>
    <a href="http://localhost:8080/product/" class="w3-bar-item w3-button">Product</a>
</div>
<div id="mainPage" style="margin-left:7%" align="center">

        <h1>Admin panel</h1>

        <div class="card text-center" style="width: 71rem;">

            <div class="card-header">

                <ul class="nav nav-tabs">

                    <li class="nav-item">
                        <a class="nav-link active" href="#usersTable" data-toggle="tab">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newUser" data-toggle="tab">New User</a>
                    </li>
                </ul>

            </div>

            <div class="tab-content">

                <div id="usersTable" class="tab-pane fade show in active">

                    <div class="card-header text-center"><h4>All users</h4></div>


                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">

                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>

                        <th:block th:each="user : ${users}">
                            <th:block th:each="role : ${user.roles}">

                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.login}"></td>
                                    <td th:text="${user.password}"></td>
                                    <td th:text="${role.role}"></td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                                data-target="#myModal" th:attrappend="data-target=${user.id}">Edit
                                        </button>
                                        <!-- Start of Edit Modal -->
                                        <div class="modal fade" id="myModal" role="dialog"
                                             th:attrappend="id=${user.id}">

                                            <form th:action="@{/admin/editUser(id=${user.id})}" method="post">
                                                <div class="modal-dialog">

                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                        </div>
                                                        <div class="modal-body modal-form">


                                                            <div class="form-group add-form">
                                                                <label class="col-md-8 control-label add-form" for="id">ID</label>
                                                                <div class="col-md-13">
                                                                    <input id="id" path="id" name="id"
                                                                           type="text" placeholder="id"
                                                                           class="form-control" th:value="${user.id}"
                                                                           readonly/>
                                                                </div>
                                                            </div>

                                                            <div class="form-group add-form">
                                                                <label class="col-md-8 control-label add-form"
                                                                       for="Name">Name</label>
                                                                <div class="col-md-13">
                                                                    <input id="Name" path="Name"
                                                                           name="name"
                                                                           type="text" placeholder="Name"
                                                                           class="form-control"
                                                                           th:value="${user.name}"/></div>
                                                            </div>

                                                            <div class="form-group add-form">
                                                                <label class="col-md-8 control-label add-form"
                                                                       for="password">Login</label>
                                                                <div class="col-md-13">
                                                                    <input id="login" path="login"
                                                                           name="login"
                                                                           type="text" placeholder="Login"
                                                                           class="form-control"
                                                                           th:value="${user.login}"/>
                                                                </div>
                                                            </div>

                                                            <div class="form-group add-form">
                                                                <label class="col-md-8 control-label"
                                                                       for="password">Password
                                                                </label>
                                                                <div class="col-md-13 add-form">
                                                                    <input id="password" path="password"
                                                                           name="password"
                                                                           type="text" placeholder="password"
                                                                           class="form-control"
                                                                           th:value="${user.password}"/>
                                                                </div>
                                                            </div>

                                                            <div class=" form-group">
                                                                <label class="col-form-label">Role:</label>
                                                                <select th:name="roleId" id="roleEdit">
                                                                    <option th:each="role : ${roles}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.role}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-sm btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="submit"
                                                                    class="btn btn-sm btn-primary">Edit
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>

                                    <td><a th:href="@{/admin/delete(id=${user.id})}"
                                           class="btn btn-danger">
                                        Delete</a>
                                    </td>

                                </tr>

                            </th:block>
                        </th:block>

                    </table>
                </div>

                <div class="tab-pane fade center-block" id="newUser">

                    <div class="card-header text-left">Add new user</div>


                    <form th:action="@{/admin/addUser}" method="POST">

                        <div class="d-flex flex-column">

                            <div class="form-group text-center form-group w-25">
                                <br>
                                <label>User name</label>
                                <input type="text" class="form-control" placeholder="Enter name"
                                       th:field="*{user.name}"/>
                                <br>
                            </div>

                            <div class="form-group text-center form-group w-25">
                                <label>Login</label>
                                <input type="text" class="form-control" placeholder="Enter login"
                                       th:field="*{user.login}"/>
                            </div>

                            <div class="form-group text-center form-group w-25">
                                <label>Password</label>
                                <input type="text" class="form-control" placeholder="Enter password"
                                       th:field="*{user.password}"/>
                            </div>

                            <div class="form-group text-center">
                                <label>Select role</label>
                                <select th:name="roleId">
                                    <option th:each="role : ${roles}"
                                            th:value="${role.getId()}"
                                            th:text="${role.role}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-2 col-md-offset-4">
                                <button type="submit" class="btn btn-success">Add user</button>
                            </div>

                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>